/* ===== LIGHT THEME ===== */
:root{
  --bg:#f5f5f5;
  --card:#ffffff;
  --text:#222222;
  --nav:#222222;
  --navText:#ffffff;
  --border:#dddddd;
  --input:#ffffff;
}

/* ===== DARK THEME ===== */
[data-theme="dark"]{
  --bg:#121212;
  --card:#1e1e1e;
  --text:#f1f1f1;
  --nav:#000000;
  --navText:#ffffff;
  --border:#555;
  --input:#2b2b2b;
}

body{
  background:var(--bg)!important;
  color:var(--text)!important;
  transition:.3s;
}

.container,.login-card,.register-container,.table-container,
.feature-box,.hero{
  background:var(--card)!important;
  color:var(--text)!important;
}

.navbar,nav{
  background:var(--nav)!important;
}

.logo,.nav-links a{
  color:var(--navText)!important;
}

input,textarea,select,table{
  background:var(--input);
  color:var(--text);
  border:1px solid var(--border);
}

h1,h2,h3,p,label,td{
  color:var(--text)!important;
}

th{
  background:#333!important;
  color:#fff!important;
}

.theme-btn{
  background:#00bcd4;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}

.theme-btn:hover{
  background:#0097a7;
}